body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  margin: 0;

  font-family: "VT323", monospace;
}

body, .snake {
  background-color: #414141;
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);

  border-radius: 100px;

  margin: 5px;
}

.game-border-1 {
  border: solid 10px #595f43;
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #595f43;
}

.game-border-2 {
  border: solid 10px #abb78a;
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #abb78a;
}

.game-border-3 {
  border: solid 10px #8b966c;
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #8b966c;
}